@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
	--main-padding: 250px;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: Roboto, sans-serif;
	min-height: 100vh;
	max-width: 80%;
	margin: 0 auto;
}

a {
	text-decoration: none;
}

button {
	background-color: #3882f6;
	font-weight: 900;
	padding: 8px 30px;
	border-radius: 10px;
}

.main-text {
	color: #f9faf8;
}

.secondary-text {
	color: #e5e7eb;
	font-size: 18px;
}

header,
footer {
	background-color: #1f2937;
	padding: 20px var(--main-padding);
}

blockquote {
	font-size: 36px;
	font-style: italic;
	font-weight: 100;
	color: #1f2937;
}

.heading {
	display: flex;
	/* justify-content: space-between; */
	justify-content: space-between;
}

.header-logo {
	font-size: 24px;
	font-weight: 900;
}

.heading>ul {
	list-style: none;
	display: flex;
	gap: 21px;
}

.header-content {
	display: flex;
	justify-content: space-between;
	padding: 100px 0;
}

.header-text {
	width: 350px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}

.header-title {
	font-size: 48px;
}

.info {
	text-align: center;
	padding: 40px var(--main-padding);
	margin-bottom: 40px;
}

.info-header {
	font-size: 36px;
	font-weight: 900;
	color: #1f2937;
	margin-bottom: 40px;

}

.panel-container {
	display: flex;
	justify-content: center;
	gap: 48px;
}

.panel {
	width: 150px;
	min-height: 150px;

}

.panel-image {
	height: 150px;
	border: 5px solid #3882f6;
	border-radius: 10px;
	margin-bottom: 8px;
}

.quote {
	background-color: #e5e7eb;
	padding: 100px var(--main-padding);
	display: flex;
	flex-direction: column;
}

.quote-source {
	align-self: flex-end;
	font-weight: 900;
	font-size: 21px;
}

.action {
	padding: 100px var(--main-padding);
}

.action-container {
	background-color: #3882f6;
	padding: 40px 80px;
	border-radius: 10px;
	display: flex;
	justify-content: space-between;
}

.action-sign-up {
	border: 2px solid #f9faf8;
	color: #f9faf8;
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
}
